nav {
    background-color: white;
    color: violet;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}